<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goods.mapper.GoodsOperLogMapper">
    <insert id="insert">
        INSERT INTO goods_oper_log (goods_id, spu_code, oper_type, oper_content, operator, oper_time)
        VALUES (#{goodsId}, #{spuCode}, #{operType}, #{operContent}, #{operator}, NOW())
    </insert>
</mapper>

